[renderer]

  # Defines if Cave Slices are drawn or not
  # Cave Slices eat a ton of Storage as there are a ton of them
  B:draw-cave-slices=true

  # Defines if night maps are drawn as well
  B:draw-nights=true

  # Defines which modes are drawn
  #​ Must be one of [BLOCK, MAP_BLOCK, HEIGHT, BIOME]
  e:draw-modes=<<<
    BLOCK, 
    MAP_BLOCK, 
    HEIGHT, 
    BIOME
  >>>

  # Defines which cave modes are drawn
  #​ Must be one of [BLOCK, MAP_BLOCK, BIOME]
  e:draw-cave-modes=<<<
    BLOCK, 
    MAP_BLOCK, 
    BIOME
  >>>

[live-map]

  # Defines if the Map is enabled on the client side
  # This allows you to disable the Map even if the server owner enabled it
  B:enable-map=true

  # Defines the default map type that should be used on load and automap
  #​ Must be one of [BLOCK, MAP_BLOCK, HEIGHT, BIOME]
  E:draw-mode=BLOCK

  # Defines the default cave type that should be used in automap
  #​ Must be one of [BLOCK, MAP_BLOCK, BIOME]
  E:cave-mode=BLOCK

  # Defines the default time mode for automap
  #​ Must be one of [ALWAYS_DAY, ALWAYS_NIGHT, AUTO]
  E:time-mode=ALWAYS_DAY

  [live-map.grid]

    # Decides if the Chunk Grid is shown
    B:show-chunk-grid=true

    # Changes the map view that it only shows the chunkgrid instead of swapping to the region grid if zoomed far enough out
    B:only-show-chunkgrid=false

    # Shows the Position numbers on the Region Grid
    B:show-grid-numbers=true

  [live-map.entities]

    # Defines if entities should be shown on the map
    B:show-entities=true

    # Defines if entity directions should be shown
    B:show-entity-directions=false

    # Defines if unloaded Entities should be shown
    B:show-unloaded-entities=true

    # Only shows Entities within 16 blocks of the same y level as the player
    B:only-show-similar-y=true

    # Defines if entities are drawn live or the server data is used instead
    # Note: If the Server bans entity rendering then this doesn't work
    B:live-entities=true

    # Defines if your pets should be displayed on the map
    B:show-pets=true

    # Defines if entities drawn use their icons instead of generic icons
    B:entity-icons=true

  [live-map.structures]

    # Defines if structures should be displayed
    B:show-structures=true

    # Defines if structures that are spammed should be hidden.
    # Normally Structures are added like once or twice per region file. Spammy ones are much more frequent.
    # This config simply hides them.
    # Known Structures that will be hidden: Mineshafts and fossils
    B:hide-structure-spam=true

  [live-map.players]

    # Defines if players should be shown
    B:show-players=true

    # Defines if the direction the player is facing is shown
    B:show-player-directions=true

    # Defines if other players should be shown
    B:show-other-players=true

    # Defines if player names are shown as well
    B:show-player-names=true

  [live-map.waypoints]

    # Defines if waypoints should be shown on the map
    B:show-waypoints=true

    # Defines if the waypoint names should be shown on the map
    B:show-waypoint-names=true

    # Defines if waypoints should be large on the map and not small
    B:large-waypoints=true

[features]

  # Defines if whenever the player generates a new portal that it automatically creates a "Ideal Location" Waypoint for Portal Syncup
  B:create-ideal-homeportal-location=true

  # Defines if whenever the player generates a new portal that it automatically creates a Waypoint so it can be found more easily
  B:auto-portal-waypoint=true

# This section is for optimizing the map at the cost of functionality
# Idea being that the map is exceeding the possible ram provided
# All entries reduce ram at the cost of something
[optimization]

  # Reduces the amount of textures ready for uploading per dimension to 1.
  # Normally 72 textures in lowest LOD stay ready to used
  # Upside: 284kb Reduction per 512x512 blocks (16k x 16k blocks => ~284MB, 32k x 32k blocks => ~1.1GB)
  # Downside: Swapping textures have to load now a lot slower than instant
  # Note: This math only applies to 1 dimension.
  # Multiple Dimensions multiply this memory reduction
  B:reduced-textures=false

  # Discards the 3D Biome Cache from ram to reduce memory usage
  # Upside: 74kb Reduction per 512x512 blocks (16k x 16k blocks => ~75MB, 32k x 32k blocks => ~302MB)
  # Downside: The 3D Biome picker overlay is no longer working as it requires the cache
  # Note: This math only applies to 1 dimension.
  # Multiple Dimensions multiply this memory reduction
  B:unload-3d-biomes=false

  # Discards the Biome Cache from ram to reduce memory usage
  # Upside: 74kb Reduction per 512x512 blocks (16k x 16k blocks => ~75MB, 32k x 32k blocks => ~302MB)
  # Downside: The Biome picker overlay is no longer working as it requires the cache
  # Note: This math only applies to 1 dimension.
  # Multiple Dimensions multiply this memory reduction
  B:unload-biomes=false