[general]

  # If the MiniMap Overlay should be enabled
  B:enabled=true

  # Defines the alignment/scale/offset of the MiniMap Widget
  #​ Format: [horizontal-align: (Enum); vertical-align: (Enum); xOffset: (Float); yOffset: (Float); scale: (Float);],
  #​ Example: [horizontal-align: CENTER; vertical-align: CENTER; xOffset: 0.0; yOffset: 0.0; scale: 1.0;]
  p:overlay=<<<
    [
      horizontal-align: END; 
      vertical-align: START; 
      xOffset: -0.002; 
      yOffset: 0.002; 
      scale: 0.5; 
    ]
  >>>

  # Defines the time format for rendering System time
  #​ Must be one of [H:mm, H:mm:ss, HH:mm, HH:mm:ss, h:mm, h:mm a, h:mm:ss, h:mm:ss a, hh:mm, hh:mm a, hh:mm:ss , hh:mm:ss a]
  S:system-time-format=HH:mm:ss

  # Defines which overlays are shown
  #​ Must be one of [bigpadding, biome, chunkxyz, chunkxyzrelative, chunkxz, chunkxzrelative, dimension, fps, gametime, lightlevel, map, padding, position, region, regionrelative, smallpadding, systemtime]
  A:Displayed Overlays=<<<
    gametime, 
    map, 
    position, 
    biome
  >>>

[map]

  # The widht of the Map
  #​ Range: 50 ~ 1000
  I:width=150

  # The height of the Map
  #​ Range: 50 ~ 1000
  I:height=150

  # Defines the shape of the Map
  #​ Must be one of [CIRCLE, SQUARE]
  E:map-shape=CIRCLE

  # Defines the Zoom Level of the Map
  #​ Range: 0.25 ~ 4.0
  D:map-zoom=1.0

  # Defines if the Map should rotate based on the Players Rotation or always head towards North
  # Only works with the Circle Shape
  B:map-rotation=false

  # Defines the Border Color of the Map
  C:border-color=0xff888888

  # Defines the color of the direction circles
  C:direction-circle-color=0xff888888

  # Defines which Draw Type should be used for the hud by default
  #​ Must be one of [BLOCK, MAP_BLOCK, HEIGHT, BIOME]
  E:draw-type=BLOCK

  # Defines which Cave Type should be used for the hud by default
  #​ Must be one of [BLOCK, MAP_BLOCK, BIOME]
  E:cave-type=BLOCK

  # Defines how the hud should display time
  #​ Must be one of [ALWAYS_DAY, ALWAYS_NIGHT, AUTO]
  E:time-type=AUTO

[grid]

  # If the Chunk Grid should be drawn
  B:draw-chunk-grid=true

  # How thick each line is. The number represents blocks
  #​ Range: 0.25 ~ 4.0
  D:grid-scale=1.0

  # Defines the Color of the Chunk Grid. RGBA
  C:grid_color=0x76000000

  # If the Region Grid should be drawn
  B:draw-region-grid=false

  # How thick each line is. The number represents blocks
  #​ Range: 0.25 ~ 4.0
  D:region-grid-scale=1.0

  # Defines the Color of the Region Grid, RGBA
  C:region-grid-color=0x76000000

[waypoints]

  # If waypoints should be drawn
  B:enabled=true

  # The scale of waypoints
  #​ Range: 0.1 ~ 10.0
  D:scale=0.5

[players]

  # If players should be displayed on the Map
  B:enabled=true

  # If other players should be rendered as well
  B:draw_other_players=true

  # The scale of the drawn Players
  #​ Range: 0.1 ~ 10.0
  D:scale=0.5

[entities]

  # If entities should be drawn on the Map
  B:enabled=true

  # If the Rotation arrow should be drawn
  B:draw_rotation=true

  # The scale of Entities
  #​ Range: 0.1 ~ 10.0
  D:scale=0.5

  # If Entity icons should be used when present
  B:draw_icons=true

  # Shows pets on the map
  B:draw_pets=true